{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    {% for program in programs %}
    <div>
        <h2>{{ program.id }} {{ program.title }}</h2>
        <p> {{ program.summary }}</p>
    </div>
    {% endfor %}
{% endblock %}



