{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    {% for program in programs %}
    <div>
        <a href="{{ path('program_show' , {'id':program.id}) }}"><h2>{{ program.title }}</h2></a>
        <p> {{ program.summary }}</p>
    </div>
        {% else %}
        <p style="font-size: 25px"> pas de séries dans cette catégorie</p>
    {% endfor %}
{% endblock %}



