{% extends 'base.html.twig' %}

{% block body %}

        <div class="block-main text-center">
                <h1>Saison{{ season.id }}</h1>


                {% for episode in episodes %}
                        <p> Episode n° {{ episode.number }} :{{ episode.title }}</p>
                        <p> {{ episode.synopsis }}</p>
                {% endfor %}

        </div>


{% endblock %}

{% block title %}

{% endblock %}

